* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 15px;
    width: 100%;
}

.section-1 {
    display: flex;
    align-items: center;
    background-color: hsl(208, 85%, 42%);
    color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.section-1 h1 {
    font-size: 8rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.section-1 h1 span {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.section-1 h1 span span {
    background-color: hsl(0, 97%, 53%);
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.section-1 p {
    font-size: 3rem;
}

.down-arrow {
    aspect-ratio: 1;
    align-items: center;
    bottom: 20px;
    background-color: rgb(26, 206, 234);
    border-radius: 50%;
    display: inline-flex;
    height: 45px;
    padding-top: 3px;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.down-arrow svg {
    height: 30px;
    width: 30px;
}

.section-2 {
    background-color: hsl(190, 85%, 42%);
    color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.section-2 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 15px;
    padding-top: 50px;
}

.section-2 p {
    font-size: 3rem;
    margin-bottom: 30px;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance svg {
    max-width: 100%;
}

.section-3 {
    background-color: hsl(208, 85%, 42%);
    color: hsl(0, 0%, 100%);
}

.section-3 .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section-3 .top {
    max-width: 600px;
}

.section-3 .top p {
    font-size: 3rem;
}

.section-3 .top p span {
    font-size: 8rem;
    font-weight: 900;
}

.section-3 .bottom {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-3 .bottom > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section-3 .line {
    position: relative;
    z-index: 1;
}

.section-3 .part-1 .line {
    background-color: hsl(0, 100%, 50%);
    height: 100px;
}

.section-3 .part-2 .line {
    background-color: hsl(106, 100%, 50%);
    height: 230px;
}

.section-3 .part-3 .line {
    background-color: hsl(68, 100%, 50%);
    height: 380px;
}

.section-4 .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}